* {
  font-family: "Manrope Variable", sans-serif;
  text-decoration: none !important;
  scroll-behavior: smooth;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --orangeLight: #dd5e14;
  --white100: #ffffff;
  --dark100: #0f1212;
  --teal100: rgb(174, 195, 185);
  --teal200: rgb(70, 94, 83);
  --grey100: #e2e3e5;
}

.cursor {
  cursor: pointer;
}

a {
  color: inherit !important;
}

a:hover {
  color: var(--teal200) !important;
  transition: 0.3s ease-in-out;
}

.icon:hover,
button:hover {
  filter: brightness(85%);
  transition: 0.3s ease-in-out;
}
.icon:focus,
.icon:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.activeLink {
  color: var(--orangeLight) !important;
  transition: 0.3s ease-in-out;
}

.no-activeLink:hover {
  color: var(--teal200) !important;
  transition: 0.3s ease-in-out;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.cardBox {
  position: relative;
}

.focus-download {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.focus-heart {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.backdrop {
  background-image: url("./assets/charlesdeluvio-3hRl61WieaE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.form {
  width: 90%;
  padding: 2rem;
  border-radius: 15px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--orangeLight) !important;
  background-color: white !important;
  border: none;
  border-bottom: 2px solid var(--orangeLight) !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs .nav-link {
  color: var(--teal200);
}
.nav-tabs .nav-link:hover {
  color: gray;
}

@media (min-width: 768px) {
  .form {
    width: 420px;
  }
}

@media (min-width: 1200px) {
  .cardBox {
    overflow: hidden;
  }
  .cardBox *,
  .pinId-Img {
    transition: 0.3s ease all;
  }

  .cardBox:hover img {
    background-color: var(--dark100);
    width: 100%;
    height: 100%;
    filter: brightness(60%) !important;
    transition: 0.3s ease-in-out;
  }

  .pinId-Img:hover {
    transition: 0.3s ease-in-out;
  }
}