* {
  font-family: "Manrope Variable", sans-serif;
  text-decoration: none !important;
  scroll-behavior: smooth;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --orangeLight: #dd5e14;
  --white100: #ffffff;
  --dark100: #0f1212;
  --teal100: rgb(174, 195, 185);
  --teal200: rgb(70, 94, 83);
  --gray100: #e2e3e5;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: inherit !important;
}

button:hover {
  filter: brightness(80%);
  transition: 0.3s ease-in-out;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.no-activeLink:hover {
  color: var(--teal200) !important;
  transition: 0.3s ease-in-out;
}
.activeLink {
  color: var(--teal200) !important;
  transition: 0.3s ease-in-out;
}
